# DCF

In [2]:
import numpy as np

years = 5    #A
initial_revenue = 500_000    #A
growth_rate = 0.3    #A
initial_expense = 700_000    #A
expense_reduction = 0.1    #A
discount_rate = 0.4    #A

cash_flows = []    #B
for t in range(1, years + 1):
    revenue = initial_revenue * (1 + growth_rate) ** t    #B
    expense = (initial_expense *
               (1 - expense_reduction) ** t)    #B
    cash_flow = revenue - expense    #B
    cash_flows.append(cash_flow)    #B

terminal_growth_rate = 0.05    #C
terminal_value = (cash_flows[-1] *
                  (1 + terminal_growth_rate) /
                  (discount_rate - terminal_growth_rate))    #C


discounted_cash_flows = [cf / (1 + discount_rate) ** (t+1) for t, cf in enumerate(cash_flows)]    #D
discounted_terminal_value = terminal_value / (1 + discount_rate) ** years    #D
startup_valuation = sum(discounted_cash_flows) + discounted_terminal_value    #D
print(f"Estimated Startup Valuation: ${startup_valuation:,.2f}")

Estimated Startup Valuation: $1,695,966.71

# Dilution

In [5]:
import pandas as pd

total_shares = 1_000_000    #A
founder_shares = 500_000    #A

# Funding rounds (investment amount, equity given)
funding_rounds = [
    ("Seed", 500_000, 25),    #A
    ("Series A", 2_000_000, 20),    #A
    ("Series B", 10_000_000, 15),    #A
    ("Series C", 50_000_000, 10)     #A
]

dilution_data = []

for round_name, investment, equity_given in funding_rounds:
    new_shares = (total_shares *
                  (equity_given /
                   (100 - equity_given)))  # New shares to issue
    total_shares += new_shares
    founder_ownership = (founder_shares /
                         total_shares) * 100  # Founder % after dilution
    dilution_data.append([round_name,
                          investment,
                          int(total_shares),
                          round(founder_ownership, 2)])

# Convert to DataFrame for display
df = pd.DataFrame(dilution_data,
                columns=["Round", "Investment ($)", "Total Shares", "Founder Ownership (%)"])
df

      Round  Investment ($)  Total Shares  Founder Ownership (%)
0      Seed          500000       1333333                  37.50
1  Series A         2000000       1666666                  30.00
2  Series B        10000000       1960784                  25.50
3  Series C        50000000       2178649                  22.95